In [ ]:
import pandas as pd 
import numpy as np

In [4]:
import pandas as pd 
import numpy as np 

data = pd.read_json('http://127.0.0.1:8000/api/books/?format=json')
data.head()

   id               title         author published_date
0   1  RD SHARMA CLASS 12      RD SHARMA     2026-01-26
1   2       R.S. Aggarwal  R.S. Aggarwal     2026-02-14
2   5              Title1        Author1     2026-02-11